---
import Breadcrumb from '@/components/Breadcrumb.astro';
import FAQAccordion from '@/components/FAQAccordion.astro';
import PageHeader from '@/components/PageHeader.astro';
import SeoHead from '../components/SeoHead.astro';
import Layout from '../layouts/Layout.astro';

const SeoContent = {
  title: 'Preguntas Frecuentes | Lagunas Claras',
  description:
    'Respuestas a las preguntas más frecuentes sobre nuestros servicios de mantenimiento y recuperación de lagos y lagunas.',
};
const pathName = Astro.url.pathname;
const content = {
  title: 'Preguntas Frecuentes',
  subtitle: 'Algunas preguntas que nos hacen nuestros clientes',
};
---

<Layout>
  <SeoHead title={SeoContent.title} description={SeoContent.description} />
  <Fragment slot="main">
    <main class="bg-background mx-auto mt-24 min-h-screen w-[80%] pb-20">
      <Breadcrumb items={[{ label: 'FAQ', href: pathName }]} />
      <PageHeader title={content.title} subtitle={content.subtitle} />
      <FAQAccordion />
    </main>
  </Fragment>
</Layout>
