---
const { className = '' } = Astro.props;
---

<div class:list={[className]}>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3292.2384390570874!2d-58.71440652336903!3d-34.39528494652204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca1b44bb8d631%3A0x1cda0cd380d53105!2sSta.%20Cruz%20419%2C%20Benavidez%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1772393039758!5m2!1ses!2sar"
    width="100%"
    height="100%"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
