---
import Button from '@/components/Button.astro';
import { clientsContent } from '@/content/clients';
import ClientsSection from '@/sections/home/components/ClientsSection.astro';

const Content = {
  title: 'Clientes que confían en nuestro trabajo',
  linkText: 'Ver todos nuestros clientes',
  linkHref: '/clientes',
};
---

<div class="from-primary-soft to-primary-light/20 bg-linear-to-b py-16">
  <ClientsSection
    sectionTitle={Content.title}
    clients={clientsContent.clients}
    sectionDescription=""
  />
  <div class="mt-8 flex justify-center">
    <Button href={Content.linkHref} variant="underline">
      {Content.linkText}
    </Button>
  </div>
</div>
