---
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/navbar/Navbar.astro';
import WhatsAppButton from '@/components/WhatsAppButton.astro';
import Toast from '@/components/Toast.astro';
import '@/styles/global.css';
import { ClientRouter } from 'astro:transitions';
import { PUBLIC_GA_ID } from 'astro:env/client';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Lagunas Claras',
  description = 'Mantenimiento y recuperación de lagos, lagunas y espejos de agua',
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {!Astro.slots.has('default') && (
      <>
        <title>{title}</title>
        <meta name="description" content={description} />
      </>
    )}
    <ClientRouter />
    <meta
      name="keywords"
      content="lagunas claras, mantenimiento lagunas, recuperación lagunas, mantenimiento lagos, recuperación lagos"
    />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="bingbot" content="index, follow" />
    <meta name="yandex" content="index, follow" />

    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="sitemap" href="/sitemap.xml" />
    {PUBLIC_GA_ID && (
      <>
        <script async src={`https://www.googletagmanager.com/gtag/js?id=${PUBLIC_GA_ID}`}></script>
        <script is:inline define:vars={{ PUBLIC_GA_ID }}>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', PUBLIC_GA_ID);
        </script>
      </>
    )}
    <!-- Schema JSON-LD for better google seo -->
    <script type="application/ld+json" is:inline>
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Lagunas Claras",
        "url": "https://lagunasclaras.com.ar",
        "image": "https://lagunasclaras.com.ar/og/lagunas-claras-og.webp",
        "telephone": "+54 11 5045 1158",
        "email": "lagunasclaras@gmail.com",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Aristóbulo del Valle 4591",
          "addressLocality": "Tigre",
            "addressRegion": "Buenos Aires",
            "addressCountry": "AR"
          },
          "areaServed": "Argentina",
          "description": "Empresa especializada en mantenimiento de lagos, lagunas y espejos de agua sin uso de químicos."
        }
    </script>
    <slot />
  </head>

  <body class="bg-background text-foreground flex min-h-screen flex-col antialiased">
    <header>
      <Navbar />
    </header>

    <main id="main-content" class="flex-1">
      <slot name="main" />
    </main>

    <Footer />
    <WhatsAppButton />
    <Toast />
  </body>
</html>
<style is:global>
  @import '@/styles/global.css';
</style>
